<form [formGroup]="stickyNoteForm" class="h-100">
  <mat-form-field appearance="outline">
    <mat-label>Suited Title...</mat-label>
    <input (change)="valueChanged()" formControlName="title" matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <mat-form-field class="px-1" style="height: 60%">
    <mat-label>Your content...</mat-label>
    <textarea matInput (change)="valueChanged()" formControlName="content"></textarea>
  </mat-form-field>
</form>
