<div class="nav-body" [ngClass]="{'default-nav-color': !darkModeEnabled, 'dark-nav-color': darkModeEnabled}">

  <button [matMenuTriggerFor]="menu" *ngIf="!isStickyNoteMode" style="left: 10px" mat-fab color="success">
    <mat-icon>apps</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addAnalogue()">
      <mat-icon>watch</mat-icon>
      <span>Analogue</span>
    </button>
    <button mat-menu-item (click)="addCoronaWorldMap()">
      <mat-icon>coronavirus</mat-icon>
      <span>Corona World Status</span>
    </button>
    <button mat-menu-item (click)="addCalendar()">
      <mat-icon>insert_invitation</mat-icon>
      <span>Calendar</span>
    </button>
    <button mat-menu-item (click)="addYouTube()">
      <mat-icon>play_circle_filled</mat-icon>
      <span>YouTube</span>
    </button>
    <button mat-menu-item (click)="addCoronaWorldMap()">
      <mat-icon>multiline_chart</mat-icon>
      <span>Corona Charts</span>
    </button>
    <button mat-menu-item (click)="addWeather()">
      <mat-icon>nights_stay</mat-icon>
      <span>Weather</span>
    </button>
    <button mat-menu-item (click)="addCoronaTable()">
      <mat-icon>coronavirus</mat-icon>
      <span>Corona Tabular</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="newsCategory">
      <mat-icon>subtitles</mat-icon>
      <span>News</span>
    </button>
    <button mat-menu-item (click)="openMapsModal()">
      <mat-icon>map</mat-icon>
      <span>Google Map</span>
    </button>
  </mat-menu>

  <mat-menu #newsCategory="matMenu">
    <button mat-menu-item (click)="addTopNews()">
      <mat-icon>important_devices</mat-icon>
      <span>Top 10 news</span>
    </button>
    <button mat-menu-item (click)="addWorldNews()">
      <mat-icon>public</mat-icon>
      <span>World News</span>
    </button>
    <button mat-menu-item (click)="addArtNews()">
      <mat-icon>loyalty</mat-icon>
      <span>Arts</span>
    </button>
    <button mat-menu-item (click)="addScienceNews()">
      <mat-icon>psychology</mat-icon>
      <span>Science and Psychology</span>
    </button>
  </mat-menu>

  <button (click)="openUpdatedStickyModal()"
          *ngIf="isStickyNoteMode"
          style="left: 10px"
          matTooltip="Open add modal" color="success" mat-fab>
    <mat-icon>add</mat-icon>
  </button>

  <button *ngIf="activeUserId != 'default'" [matMenuTriggerFor]="profileOptions" mat-icon-button class="text-light" style="right: 80px" matTooltip="PROFILE">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button *ngIf="activeUserId == 'default'" routerLink="/auth" mat-raised-button style="right: 80px">Sign In</button>

  <button *ngIf="bulkDeleteWidgetIndexArray.length > 0" mat-raised-button style="right: 160px" color="warn" (click)="bulkDelete()">Delete all</button>

  <mat-menu #profileOptions="matMenu">
    <h4 mat-menu-item>
      <span class="press-2p">{{activeUser.username | uppercase}},Sup?</span>
    </h4>
    <button mat-menu-item (click)="openUpdateProfileModal()">
      <mat-icon>face</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>power</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="settingsMenu" mat-raised-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="onClick_SaveUserDashboardsToLocalStorage()">
      <mat-icon>save</mat-icon>
      <span>Save dashboard</span>
    </button>
    <button mat-menu-item>
      <mat-slide-toggle [(ngModel)]="darkModeEnabled" (click)="$event.stopPropagation();" (toggleChange)="setTheme()">Dark mode</mat-slide-toggle>
    </button>
  </mat-menu>

  <div class="nav" [ngClass]="{'bg-dark': darkModeEnabled, 'bg-light': !darkModeEnabled}">
    <input type="checkbox">
    <span></span>
    <span></span>
    <div class="menu">
      <li (click)="onSelectHomeDashboard()"><a class="press-2p underlined underlined--gradient p-2">Home</a></li>
      <li (click)="onSelectStickyNotes()"><a class="press-2p underlined underlined--reverse p-2">Notes</a></li>
    </div>
  </div>

</div>

<div class="h-100 w-100 bg-secondary">

  <div #stickyModal class="mt-2">
    <mat-card class="container mb-4 pt-0" *ngIf="stickyNoteModalOpened" [@inOutAnimation]>
      <mat-card-content>
        <mat-tab-group mat-stretch-tabs dynamicHeight>
          <mat-tab label="Sticky Note">
            <div class="p-4">
              <h1 mat-dialog-title>New note</h1>
              <div mat-dialog-content>
                <form [formGroup]="stickyNoteForm" class="h-100">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Suited Title...</mat-label>
                    <input formControlName="title" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>The content</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Content...</mat-label>
                    <textarea rows="7" matInput formControlName="content"></textarea>
                  </mat-form-field>
                </form>
              </div>
              <div class="float-right">
                <button (click)="addStickyNote()" class="mb-2"
                        matTooltip="Save note" color="primary" mat-fab>
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="float-right">
                <button (click)="closeStickyNoteModal(stickyModal)" class="mb-2 mr-2"
                        matTooltip="Close this modal" color="warn" mat-fab>
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="To-Do List">
            <div class="p-4">
              <h1 mat-dialog-title>Add To-Dos</h1>
              <div mat-dialog-content>
                <form [formGroup]="toDoForm" class="h-100">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Suited Title...</mat-label>
                    <input formControlName="title" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>The List</mat-hint>
                  </mat-form-field>
                  <ng-container *ngFor="let toDo of toDoForm.get('toDoList')['controls']; let i = index"
                                formArrayName="toDoList">
                    <div [formGroupName]="i" class="row">
                      <div class="col-md-11">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Your task to be completed</mat-label>
                          <input formControlName="toDoContent" matInput placeholder="Placeholder">
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-md-1">
                        <button (click)="removeToDoField(i)"
                                matTooltip="Remove ToDo" color="warn" mat-fab>
                          <mat-icon>remove</mat-icon>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                  <!--addition reference field-->
                  <div class="row">
                    <div class="col-md-11">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Your task to be completed</mat-label>
                        <input #toDoContent matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <button (click)="addFieldForToDo(toDoContent)"
                              matTooltip="Add ToDo" color="accent" mat-fab>
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!--Footer for To-Do-->
              <div class="text-center">
                <button (click)="addToDoList()" class="mr-2"
                        matTooltip="Save current state" color="primary" mat-fab>
                  <mat-icon>add</mat-icon>
                </button>
                <button (click)="closeStickyNoteModal(stickyModal)"
                        matTooltip="Close this modal" color="warn" mat-fab>
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>

  <div #mapsModal class="container mt-2" *ngIf="mapsModalOpened" [@inOutAnimation]>
    <mat-card>
      <div class="row">
        <div class="col-md-10">
          <mat-form-field class="w-100">
            <mat-label>Location coordinates</mat-label>
            <input #locationValue [(ngModel)]="locationCoordinates" matInput placeholder="Location coordinates">
            <mat-icon (click)="findLocation(locationValue.value)" class="cursor-pointer" matSuffix>map</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <button matTooltip="Add location" (click)="addMapsWidget()" mat-fab>
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="col-md-1">
          <button matTooltip="close" color="warn" (click)="mapsModalOpened = false" mat-fab>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content>
        <agm-map (mapClick)="placeMaker($event.coords.lat,$event.coords.lng)"
                 [clickableIcons]='false'
                 [fullscreenControl]='true'
                 [latitude]="latitude"
                 [longitude]="longitude"
                 [mapTypeControl]='true'
                 [zoom]="zoom"
                 style="height: 400px; width: 100%;">
          <agm-marker [latitude]="markerLatitude" [longitude]="markerLongitude">
            <agm-info-window [isOpen]="infoWindowOpen">
              {{addressLabel}}
            </agm-info-window>
          </agm-marker>
        </agm-map>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="gridster-container">
    <gridster [options]="options">
      <gridster-item *ngFor="let widget of dashboard; let i = index" [item]="widget">
        <mat-card class="h-100" [style.background]="widget.color">
          <mat-card-header class="drag-handler widget-header">
            <div class="row w-100">
              <div class="col-md-7">
                <h3 *ngIf="widget.name">{{widget.name}}</h3>
              </div>

              <div class="col-md-5 text-right">
                <h4>
                  <mat-checkbox class="mr-2" (change)="onCheckWidget(widget, $event)"></mat-checkbox>
                  <a (mousedown)="onClick_configureItem($event, widget)"
                     class="widget-header-btn"><mat-icon class="mr-1">settings</mat-icon></a>

                  <a (mousedown)="onClick_removeItem($event, widget)"
                     class="widget-header-btn"><mat-icon>cancel</mat-icon></a>
                </h4>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content class="h-100">
              <ndc-dynamic [ndcDynamicComponent]="widget.componentType"
                           [ndcDynamicInputs]="{noteObject: {title: widget.title, content: widget.content}, activeWidgetIndex: i,
                       toDoObject: {title: widget.toDoTitle, toDoList: widget.toDoList}, activeWidgetIndexForToDo: i,
                       locationCoordinates: widget.locationCoordinates,
                       newsCategory: widget.componentName}"
                           [ndcDynamicOutputs]="outputs"></ndc-dynamic>
          </mat-card-content>
        </mat-card>
<!--        <div class="drag-handler widget-header"></div>-->
      </gridster-item>
    </gridster>
  </div>
</div>

