<form [formGroup]="toDoForm" class="h-100">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Suited Title...</mat-label>
    <input (change)="valueChanged()" formControlName="title" matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>The content</mat-hint>
  </mat-form-field>
  <div *ngFor="let toDo of toDoForm.get('toDoList')['controls']; let i = index" class="row container"
                formArrayName="toDoList">
    <div [formGroupName]="i" class="col">
      <em class="cursor-pointer" (click)="onClickDone(toDo)"><mat-icon>whatshot</mat-icon>
        <span [ngStyle]="{'text-decoration':toDo.controls.checked.value ? 'line-through' : 'none' }"
              class="ml-1">{{toDo.controls.toDoContent.value}}</span>
      </em>
    </div>
  </div>
</form>
