<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit()" class="p-3 text-center">
  <h3 class="press-2p">Welcome,{{data.username}}</h3>
  <mat-progress-bar class="my-4" mode="buffer"></mat-progress-bar>
    <p>
      <mat-form-field class="register-input-width">
        <mat-label>Full Name</mat-label>
        <input formControlName="fullName" matInput placeholder="Enter Full Name">
        <mat-icon matSuffix> person_outline</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="register-input-width">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="Enter Username">
        <mat-icon matSuffix> person_pin</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="register-input-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput placeholder="Enter Email">
        <mat-icon matSuffix> alternate_email</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="register-input-width">
        <mat-label>Age</mat-label>
        <input formControlName="age" matInput placeholder="Enter Age">
        <mat-icon matSuffix> mobile_screen_share</mat-icon>
      </mat-form-field>
    </p>
  <hr>
    <div class="m-2">
      <button type="submit" mat-flat-button color="primary">UPDATE</button>
    </div>
</form>

