<mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Forgot password</h1>
<div mat-dialog-content>
  <form class="h-100">
    <mat-form-field appearance="outline" style="width: 400px">
      <mat-label>Please enter your email here...</mat-label>
      <input #email matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="float-right">
  <button (click)="requestPassword(email.value)" class="mb-2"
          matTooltip="Send email" color="primary" mat-fab>
    <mat-icon>send</mat-icon>
  </button>
</div>
