<mat-progress-bar *ngIf="spinner" class="mb-3" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Forgot password</h1>
<div mat-dialog-content>
  <form [formGroup]="forgotPasswordFormGroup" class="h-100">
    <mat-form-field *ngIf="!tokenSectionIsActive" appearance="outline" style="width: 400px">
      <mat-label>Please enter your email here...</mat-label>
      <input formControlName="email" [disabled]="spinner" matInput placeholder="Valid email">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <ng-container *ngIf="tokenSectionIsActive">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>New password</mat-label>
        <input formControlName="password" [disabled]="spinner" [type]="passwordHide ? 'password' : 'text'"
               matInput placeholder="Enter a new password">
        <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="passwordHide">
          <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Reset token</mat-label>
        <input #resetToken maxlength="4" formControlName="passResetToken" [disabled]="spinner" matInput placeholder="4-digit code">
        <mat-icon matSuffix>money</mat-icon>
        <mat-hint align="end">{{resetToken.value.length}} / 4</mat-hint>
      </mat-form-field>
    </ng-container>
  </form>
</div>
<div class="float-right" mat-dialog-actions>
  <button *ngIf="tokenSectionIsActive" [disabled]="spinner" (click)="requestPassword()" class="mb-2 mr-2"
          color="primary" mat-fab matTooltip="Resend token">
    <mat-icon>autorenew</mat-icon>
  </button>
  <button *ngIf="tokenSectionIsActive" [disabled]="spinner" (click)="verifyToken()" class="mb-2"
          color="accent" mat-fab matTooltip="Reset password">
    <mat-icon>done_outline</mat-icon>
  </button>

  <button *ngIf="!tokenSectionIsActive" [disabled]="spinner" (click)="requestPassword()" class="mb-2"
          color="primary" mat-fab matTooltip="Send email">
    <mat-icon>send</mat-icon>
  </button>
</div>
